<ion-content>

  <ion-grid class="mt-2">

    <ion-row class="d-flex align-items-center">

      <ion-col size="12" class="d-flex justify-content-center align-items-center">
        <ion-img class="img-fluid" src="assets/images/404-not-found.svg" alt="404_Page_Not_Found" style="display: block; margin: auto; width: 250px; height: 250px;"></ion-img>
      </ion-col>

      <ion-col size="12" class="text-center">
        <ion-text color="danger">
          The requested page was not found.
          <br>
          Please check your URL.
        </ion-text>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>