<ion-content>
  <ion-grid class="mt-2">

    <ion-row>
      <ion-col size="10">
        <ion-text *ngIf="employee" color="primary" class="text-left">
          <h5>
            <strong>
              {{ (employee.hasApproval) ? 'Edit' : 'Approve' }} Employee Details
            </strong>
          </h5>
        </ion-text>
      </ion-col>

      <ion-col size="12" *ngIf="errorMsg">
        <p class="text-center text-danger" *ngIf="!errorMsg.status">
          <ion-icon name="alert-circle" color="danger"></ion-icon>
          Error {{ errorMsg }}
        </p>
        <p class="text-center text-danger" *ngIf="errorMsg.status">
          <ion-icon name="alert-circle" color="danger"></ion-icon>
          Error {{ errorMsg.status }} - {{ errorMsg.statusText }}
        </p>
      </ion-col>
    </ion-row>

    <!-- Skeleton view -->
    <ion-row *ngIf="((!employee || !companies) && !errorMsg)">
      <ion-col size-xs="12" size-sm="12" size-md="3" *ngFor="let number of sharedFunctions.generateArray(23)">
        <ion-row>
          <ion-col size-xs="6" size-sm="6" size-md="12">
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </ion-col>

          <ion-col size-xs="6" size-sm="6" size-md="12">
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Main view with employee data -->
    <ion-row *ngIf="(employee && companies && !errorMsg)">
      <form class="w-100" [formGroup]="editEmployeeForm" (ngSubmit)="editEmployeeDetails()">
        <ion-row>
          <ion-col size="12">
            <small>
              <strong>Note: </strong>Fields marked with <strong class="text-danger">*</strong> are compulsory.
            </small>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="stacked">
                <strong class="text-danger">*</strong>
                Company Name
              </ion-label>

              <ion-select placeholder="Select a company" id="companyId" class="custom-font" formControlName="companyId" (ionChange)="onChange($event, 'companyId')">
                <ion-select-option *ngFor="let company of companies" value="{{ company._id }}">
                  {{ company.companyName }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.companyId">
              <small>{{ formErrors.companyId }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="stacked">
                <strong class="text-danger">*</strong>
                Branch Name
              </ion-label>

              <ion-select placeholder="Select a branch" id="branchId" class="custom-font" formControlName="branchId">
                <ion-select-option *ngFor="let branch of companies[companyIndex]?.branches" value="{{ branch._id }}">
                  {{ branch.branchName }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.branchId">
              <small>{{ formErrors.branchId }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="stacked">
                <strong class="text-danger">*</strong>
                Position
              </ion-label>

              <ion-select placeholder="Select a position" id="position" class="custom-font" formControlName="position">
                <ion-select-option *ngFor="let position of companies[companyIndex]?.positions" value="{{ position }}">
                  {{ sharedFunctions.formatEmployeePosition(position) }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.position">
              <small>{{ formErrors.position }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Employee ID
              </ion-label>

              <ion-input id="empId" type="text" class="custom-font" formControlName="empId"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.empId">
              <small>{{ formErrors.empId }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                <strong class="text-danger">*</strong>
                Employee Name
              </ion-label>

              <ion-input id="empName" type="text" class="custom-font" formControlName="empName" autocapitalize="on"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.empName">
              <small>{{ formErrors.empName }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                <strong class="text-danger">*</strong>
                Mobile No.
              </ion-label>

              <ion-input id="mobileNumber" type="number" inputmode="number" class="custom-font" formControlName="mobileNumber"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.mobileNumber">
              <small>{{ formErrors.mobileNumber }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="stacked">
                <strong class="text-danger">*</strong>
                Working Days
              </ion-label>

              <ion-select placeholder="Select working day(s)" id="workingDays" multiple="true" formControlName="workingDays" class="custom-font">
                <ion-select-option *ngFor="let day of workingDays" value="{{ day | lowercase }}">
                  {{ day }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.workingDays">
              <small>{{ formErrors.workingDays }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                <strong class="text-danger">*</strong>
                In Time:
              </ion-label>

              <ion-datetime pickerFormat="HH:mm a" displayFormat="hh:mm a" formControlName="inTime" class="custom-font" hourValues="6,7,8,9,10,11,12"></ion-datetime>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.inTime">
              <small>{{ formErrors.inTime }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                <strong class="text-danger">*</strong>
                Out Time:
              </ion-label>

              <ion-datetime pickerFormat="HH:mm" displayFormat="hh:mm a" formControlName="outTime" class="custom-font" hourValues="13,14,15,16,17,18,19,20,21,22,23"></ion-datetime>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.outTime">
              <small>{{ formErrors.outTime }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="stacked">
                <strong class="text-danger">*</strong>
                Punch In from Anywhere
              </ion-label>

              <ion-toggle style="zoom: 0.60;" mode="ios" color="primary" id="canPunchInOutAnywhere" type="text" class="custom-font" formControlName="canPunchInOutAnywhere" checked="{{ (editEmployeeForm.get('position').value === 'branch_manager') ? true : false }}"></ion-toggle>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.canPunchInOutAnywhere">
              <small>{{ formErrors.canPunchInOutAnywhere }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="stacked">
                <strong class="text-danger">*</strong>
                Salary Type
              </ion-label>

              <ion-select placeholder="Select a salary type" id="salaryType" type="text" class="custom-font" formControlName="salaryType">
                <ion-select-option *ngFor="let type of salaryTypes" value="{{ type | lowercase }}">
                  {{ type }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.salaryType">
              <small>{{ formErrors.salaryType }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                <strong class="text-danger">*</strong>
                Salary Amount (Rs.)
              </ion-label>

              <ion-input id="salaryAmount" type="number" inputmode="decimal" class="custom-font" formControlName="salaryAmount"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.salaryAmount">
              <small>{{ formErrors.salaryAmount }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Date of Joining
              </ion-label>

              <ion-datetime pickerFormat="MMM DD, YYYY" displayFormat="MMM DD, YYYY" max="{{ maxJoiningDate }}" id="joiningDate" class="custom-font" formControlName="joiningDate"></ion-datetime>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.joiningDate">
              <small>{{ formErrors.joiningDate }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Email ID
              </ion-label>

              <ion-input autocapitalize="on" id="emailId" type="email" class="custom-font" formControlName="emailId"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.emailId">
              <small>{{ formErrors.emailId }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Date of Birth
              </ion-label>

              <ion-datetime pickerFormat="MMM DD, YYYY" displayFormat="MMM DD, YYYY" min="1970" max="{{ maxDob }}" id="dob" class="custom-font" formControlName="dob"></ion-datetime>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.dob">
              <small>{{ formErrors.dob }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Address
              </ion-label>

              <ion-textarea autocapitalize="on" id="address" type="text" class="custom-font" formControlName="address"></ion-textarea>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.address">
              <small>{{ formErrors.address }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Bank A/C No.
              </ion-label>

              <ion-input id="bankAccNo" type="number" inputmode="number" class="custom-font" formControlName="bankAccNo"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.bankAccNo">
              <small>{{ formErrors.bankAccNo }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Bank IFSC
              </ion-label>

              <ion-input autocapitalize="on" id="bankIfsc" type="text" class="custom-font" formControlName="bankIfsc"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.bankIfsc">
              <small>{{ formErrors.bankIfsc }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Aadhaar No.
              </ion-label>

              <ion-input id="aadhaar" type="number" inputmode="number" class="custom-font" formControlName="aadhaar"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.aadhaar">
              <small>{{ formErrors.aadhaar }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                PAN No.
              </ion-label>

              <ion-input autocapitalize="on" id="pan" type="text" class="custom-font" formControlName="pan"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.pan">
              <small>{{ formErrors.pan }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                <strong class="text-danger">*</strong>
                Username
              </ion-label>

              <ion-input id="username" type="text" class="custom-font" formControlName="username"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.username">
              <small>{{ formErrors.username }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="floating">
                Reset Password:
              </ion-label>

              <ion-input id="password" type="password" formControlName="password"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="formErrors.password">
              <small>{{ formErrors.password }}</small>
            </ion-text>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3">
            <ion-item>
              <ion-label color="primary" position="stacked">
                Photo Upload:
              </ion-label>

              <input id="photoImg" type="file" accept=".jpg,.jpeg,.png,.pdf"  (change)="onChange($event, 'photoImg')">
            </ion-item>

            <ion-text color="success" *ngIf="imageChanges['photoImg']">
              <small>
                {{ imageChanges['photoImg'].name }} selected for Photo Upload.
              </small>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <ion-button type="submit" color="primary" mode="ios" strong="true" size="medium" expand="block" [disabled]="!editEmployeeForm.valid">
              {{
                (employee?.hasApproval) ? 'Update' : 'Approve'
              }} Details
            </ion-button>
          </ion-col>

        </ion-row>
      </form>
    </ion-row>

  </ion-grid>
</ion-content>
